<!DOCTYPE html>
<html>
  <head>
    <title>PracticeProduction</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul class="header-menus">
        <li>
            <%= link_to("top", "/") %>
         </li>
         <li>
            <%= link_to("マイページ", "/show") %>
         </li>
         <li>
            <%= link_to("新規登録", "/new") %>
         </li>
      </ul>
    </header>

     　<% if flash[:notice] %>
       <div class="flash">
         <%= flash[:notice] %>
       </div>
     <% end %>

    <%= yield %>
      　</div>
  </body>
</html>
